name: "selftesting"
on:
  issue_comment:
    types: created

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: jiro4989/setup-nim-action@v1
      with:
        nim-version: 'devel'
    # - name: Install dot for Dependencies graph
    #   run: sudo apt-get install -q -y graphviz libgraph-easy-perl
    - uses: ./
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
